{% extends "gameplayer.html" %}
{% block custom %}
.text-left-right {
margin-left: 450px;
text-align: left;
position: relative;
}
.gamename {
font-size: 75px;
margin-left: 650px;
margin-top: 10px;
font-family: Impact;
}
canvas {
border: 3px solid black;
display: block;
margin-left:350px;
margin-top:10px;
background-color: white;
}
{% endblock %}
{% block game %}
<script>
    var canvas = document.getElementById("gameCanvas");
var ctx = canvas.getContext("2d");

ctx.fillStyle = "black";
//top gridlines
ctx.fillRect(1/4*500, 0, 5, 500);
ctx.fillRect(2/4*500, 0, 5, 500);
ctx.fillRect(3/4*500, 0, 5, 500);

//side gridlines
ctx.fillRect(0, 1/4*500, 500, 5);
ctx.fillRect(0, 2/4*500, 500, 5);
ctx.fillRect(0, 3/4*500, 500, 5);


class Tile {
    constructor(x,y,color,value) {
        this.x = x;
        this.y = y;
        this.width = 1/4*500;
        this.height = 1/4*500;
        this.speed = 1;
        this.color = color;
        this.value = value;
        this.direction = 0;
    }
    show() {
        ctx.fillStyle = this.color;
        ctx.fillRect(this.x, this.y, this.width, this.height);
        ctx.font = "50px Calibra";
        ctx.fillStyle = "white";
        ctx.fillText(this.value, this.x+50, this.y+75);
    }
}

function spawnTile() {
    if (Math.random() > 0.5){}
}

function Start() {
    Tile = [] (0, 0, "red", 2);
    t.show();
}

function GameOver() {

}

function Update() {

}

window.onload = function () {
    Start();
};

document.addEventListener("keydown", event => {
    event.preventDefault();
    const key = event.key; // "ArrowRight", "ArrowLeft", "ArrowUp", or "ArrowDown"
    switch(event.key) { // change to event.key to key to use the above variable
       case "ArrowLeft":
       case "a":
          // Left pressed

          break;
       case "ArrowRight":
       case "d":
          // Right pressed

          break;
       case "ArrowUp":
       case "w":
          // Up pressed

          break;
       case "ArrowDown":
       case "s":
          // Down pressed

          break;
    }
});
</script>
{% endblock %}