<!doctype html>
</html>
</head>
<meta charset= "utf-8">
<title>Crossy Beaver</title>
<style>
body{
    background: red;
    display: flex;
    justify-content: center;
}
canvas{
    background: black;
    border: 4 px solid green;
}
</style>
</head>

</body>
<canvas id="canvas" width="570" height="540"></canvas>

<script type="text/javascript">
    var canvas = document.getElementById('canvas')
    var ctx = canvas.getContext('2d');

    var beaver = new Image(); beaver.src = "../static/beaver.png";
    var sx = 0;
    var sy = 0;
    var swidth = 500;
    var sheight = 500;
    var x = 50;
    var y = 444;
    var width = 30;
    var height = 30;

    var rightPressed= false;
    var leftPressed = false;
    var upPressed = false;
    var downPressed = false;

    var up = true;
    var down = true;
    var right = true;
    var left = true;

    document.addEventListener("keydown", keyDownHandler, false);
    document.addEventListener("keyup", keyUpHandler, false);


    function keyDownHandler(e)
    {
        if(e.keyCode == 39) {rightPressed = true;}
        if(e.keyCode == 37) {leftPressed = true;}
        if(e.keyCode == 38) {upPressed = true;}
        if(e.keyCode == 40) {downPressed = true;}
    }

    function keyUpHandler(e)
    {
        if(e.keyCode == 39) {rightPressed = false;}
        if(e.keyCode == 37) {leftPressed = false;}
        if(e.keyCode == 38) {upPressed = false;}
        if(e.keyCode == 40) {downPressed = false;}
    }


    function drawBackground(){
        //drawing the grass
        ctx.fillStyle = "green";
        ctx.fillRect(0, 440, 570, 45);
        ctx.fillRect(0, 220, 570, 45);

        //drawing pathing for cars
        ctx.beginPath();
        ctx.moveTo(0, 395);
        ctx.lineTo(570, 395);
        ctx.strokeStyle = "white";
        ctx.setLineDash([5]);
        ctx.strokeWidth = 2
        ctx.stroke();

        ctx.beginPath();
        ctx.moveTo(0, 350);
        ctx.lineTo(570, 350);
        ctx.strokeStyle = "white";
        ctx.setLineDash([0]);
        ctx.strokeWidth = 4;
        ctx.stroke();

        ctx.beginPath();
        ctx.moveTo(0, 305);
        ctx.lineTo(570, 305);
        ctx.strokeStyle = "white";
        ctx.setLineDash([5]);
        ctx.strokeWidth = 2;
        ctx.stroke();

        //water
        ctx.fillStyle = "Navy";
        ctx.fillRect(0, 0, 570, 220);
    }

    function drawBeaver(){
        ctx.drawImage(beaver, sx, sy, swidth, sheight, x , y, width, height);
        //ctx.drawImage(beaver, 0, 0, 500, 500, 50, 444, 30, 30);
    }

    //Background refresh for players (Around 60 FPS)
    function draw() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        drawBackground();
        drawBeaver();

        if (upPressed==true && up==true) {
            y = y - 44;
            up = false;
        }
        if (upPressed==false) {
            up = true;
        }
        if (downPressed==true && down==true) {
            y = y + 44;
            down = false;
        }
        if (downPressed==false) {
            down = true;
        }
        if (rightPressed==true && right==true) {
            x = x + 44;
            right = false;
        }
        if (rightPressed==false) {
            right = true;
        }
        if (leftPressed==true && left==true) {
            x = x - 44;
            left = false;
        }
        if (leftPressed==false) {
            left = true;
        }
        requestAnimationFrame(draw);
    }
    draw();



</script>
</body>
</html>
