{% extends "base.html" %}
{% block head %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style>
    .left-text {
        left: 0;
        position: relative;
    }
    .right-text {
        right: 0;
        position: relative;
    }
    .scoreboard {
        font-size: 40px;
        margin-left: 25px;
        margin-top: 0px;
        font-family: Comic Sans;
    }
    .hidesmwrld {
        visibility: hidden;
        width: 1600px;
        height: 700px;
        position: absolute;
        z-index: 1;
    }
   {% block custom %}
      .text-left-right {
        margin-left: 200px;
        text-align: left;
        position: relative;
      }
      .gamename {
        font-size: 75px;
        margin-left: 460px;
        margin-top: 10px;
        font-family: Impact;
       }
      canvas {
        border: 3px solid #000000;
        display: block;
        margin-left:200px;
        margin-top:0px;
        background-color: white;
      }
   {% endblock %}
{% block image %}url(../static/ingame_screen.png){% endblock %}
</style>
{% endblock %}
{% block content %}
<h1 class="gamename" id="gametitle">{{ Title }}</h1>
<canvas id="gameCanvas" width="{{width}}" height="500"></canvas>
<h1 class="text-left-right">
    <span class="left-text scoreboard">Score:</span>
    <span class="right-text scoreboard" id="scoreboard">0</span>
    <span class="left-text scoreboard" style="margin-left:300px">Highscore:</span>
    <span class="right-text scoreboard" id="highscoreboard">0</span>
</h1>
    {% block game %}
    {% endblock %}
{% endblock %}
{% block footer %}{% endblock %}