{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        .white { background-color:#FFFFFF; }
    </style>
{% endblock %}
{% block content %}
    <h1 style="color:Tomato;">Beaver's Arcade! </h1>
    <p class="important" style="color:Tomato";>
       Welcome to the Beaver's Arcade!
    </p>

    <p class="important">
      Please select a game to play!
    </p>

    <p>
        <figure>
            <a href="/flappybeaver/">
                <img src = "/static/flappybeavers.PNG" alt = "flappy beaver" style="position:absolute; left:400px; top:200px;"/>
                <figcaption class="white" style="position:absolute; left:400px; top:325px;">Your highscore: {{flappy_score}} </figcaption></b>
                <figcaption class="white" style="position:absolute; left:400px; top:345px;">World highscore:   </figcaption>
            </a>
            <a href="/crossybeaver/">
                <img src = "/static/crossybeaver.PNG" alt = "crossy beaver" style="position:absolute; left:800px; top:200px;"/>
                <figcaption class="white" style="position:absolute; left:800px; top:325px;">Your highscore: {{crossy_score}} </figcaption></b>
                <figcaption class="white" style="position:absolute; left:800px; top:345px;">World highscore:    </figcaption>
            </a>
            <a href="/2048/">
                <img src = "/static/2048.PNG" alt = "2048" style="position:absolute; left:400px; top:400px;"/>
                <figcaption class="white" style="position:absolute; left:400px; top:525px;">Your highscore: {{twenty_score}} </figcaption></b>
                <figcaption class="white" style="position:absolute; left:400px; top:545px;">World highscore:    </figcaption>
            </a>
            <a href="/snake/">
                <img src = "/static/snake.PNG" alt = "snake" style="position:absolute; left:800px; top:400px;"/>
                <figcaption class="white" style="position:absolute; left:800px; top:525px;">Your highscore: {{snake_score}} </figcaption></b>
                <figcaption class="white" style="position:absolute; left:800px; top:545px;">World highscore:    </figcaption>
            </a>
        </figure>
    </p>
{% endblock %}
{% block footer %}
<h1 style="color:Green;">Random Quote</h1>
    <p class="setup" style="color:Green">Click for quote.</p>
    <form method="POST" ID="myForm" action=/restapi/quote/ >
        <input type="submit" value="New Quote">
    </form>
<p style="background-color:black; color:blue; margin-right:1200px; font:impact; font-size:20px">{{quote}}</p>


<h1 style="color:Green;">Random Word</h1>
<p class="setup" style="color:Green">Click for random word/definition</p>
<form method="POST" ID="myForm" action=/restapi/word/ >
    <input type="submit" value="New Word">
</form>
<p style="background-color:black; color:blue; margin-right:1200px; font:impact; font-size:20px">{{word}}</p>

<h1 style="color:Green;">Random Joke!</h1>
<p class="setup" style="color:Green">Click for Joket</p>
<form method="POST" ID="myForm" action=/restapi/joke/ >
    <input type="submit" value="New Joke">
</form>
<p style="background-color:black; color:blue; margin-right:1200px; font:impact; font-size:20px">{{joke}}</p>
{% endblock %}