{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Beaver's Arcade! </h1>
    <p class="important">
      Welcome to the Beaver's Arcade!
    </p>

    <p class="important">
      Please select a game to play!
    </p>

    <p class="important">
      <img src=https://images.unsplash.com/photo-1511882150382-421056c89033?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8YXJjYWRlfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80 alt="W3Schools.com" style="width:900px;height:600px;">
    </p>


{% endblock %}