{% extends "gameplayer.html" %}

{% block game %}

<script>
var canvas = document.getElementById("gameCanvas");
var ctx = canvas.getContext("2d");

class Snake {
    constructor(x, y, number) {
        this.x = x;
        this.y = y;
        this.number = number;
        this.speed = 25;
        this.width=20;
        this.height=20;
    }
    show() {
        ctx.fillStyle = "Green";
        ctx.fillRect(this.x, this.y, this.width, this.height);
    }
    update(nextpiece) {
        //updates the position of each snake trailpiece to the position of the piece one closer to the head of the snake
        //"nextpiece" is always going to be the "snakePieces" array
        this.x = nextpiece[this.number-1].x;
        this.y = nextpiece[this.number-1].y;
    }
}

class Head extends Snake {
    constructor(x, y, number, direction) {
        super(x, y, number);
        this.direction = direction;
    }
    update() {
        if (this.direction == "up") {
            this.y -= this.speed;
        } else if (this.direction == "down") {
            this.y += this.speed;
        } else if (this.direction == "left") {
            this.x -= this.speed;
        } else if (this.direction == "right") {
            this.x += this.speed;
        }
    }
}

class Food {
    constructor(x,y) {
        this.x = x;
        this.y = y;
        this.width = 15;
        this.height = 15;
        this.showing = 1;
    }
    show() {
        ctx.fillStyle = "Red";
        ctx.fillRect(this.x, this.y, this.width, this.height);
    }
    update(piece) {
        //show unless the head just ate the piece of food.
        //"piece" is going to be snakehead, needs parameter to be put into the class though.
        if(piece.x == this.x && piece.y == this.y) {
            this.showing = 0;
        } else {
            this.show();
        }
    }
}

var score;
var snakeHead;
var food;
var snakePieces;

function start() {
    score=0;
    document.getElementById('scoreboard').innerHTML = score;
    snakeHead = new Head(12, 12, 0, "up");
    snakePieces = [snakeHead];
    spawnFood();
    updater = setInterval(update, 10);
}

function gameOver() {
    //death animation
    //clear out the last game
    snakehead = null;
    snakePieces = null;
    food = null;
    clearInterval(updater);
    //show text game over, press space to start again
    ctx.font = '50px Sans';
    ctx.fillStyle = 'red';
    ctx.fillText("Ded", 275, 250);
    ctx.font = '25px Calibra';
    ctx.fillStyle = 'orange';
    ctx.fillText("Press up arrow to play again", 325, 300);
};

function spawnSnakePiece() {
    var lastX = snakePieces[snakePieces.length - 1].x;
    var lastY = snakePieces[snakePieces.length - 1].y;
    var snakeTrail = new Snake(lastX, lastY, snakePieces.length);
    snakePieces.push(snakeTrail);
}


function spawnFood() {
    randomX = 2.5 + 20*(Math.floor(Math.random()*24));
    randomY = 2.5 + 20*(Math.floor(Math.random()*24));
    var count = snakePieces.length;
    for(var i = 0; i < count; i++) {
        var piece = snakePieces[i];
        if (randomX == piece.x && randomY == piece.y) {
            //if the piece would be inside the snake, redo it
            spawnFood();
        }
        //dont do else statement because its in the for loop. could trigger on some snake pieces but not on others. fall through instead.
    }
    food = new Food(randomX, randomY);
}


function update() {
    canvas.width=canvas.width;
    var count = snakePieces.length;
    if (count > 1) {
        for(var i = count - 1; i < 1; i--) {
            var piece = snakePieces[i];
            piece.update(snakePieces);
            piece.show();
        }
    }
    food.update(snakeHead);
    if (food.showing == 0) {
        food = null;
        spawnFood();
        spawnSnakePiece();
    }
    if (snakeHead.x < 0 || snakeHead.x > 475 || snakeHead.y < 0 || snakeHead.y > 475) {
        gameOver();
    }
    score = snakePieces.length - 1;
    document.getElementById('scoreboard').innerHTML = score;
}

window.onload = function () {
        start();
    };

</script>
{% endblock %}
