{% extends "gameplayer.html" %}

{% block game %}

<script>
var canvas = document.getElementById("gameCanvas");
var ctx = canvas.getContext("2d");

    class Snake {
        constructor(x, y, number) {
            this.x = x;
            this.y = y;
            this.Speed = 20;
            this.width=2;
            this.height=2;

          }
        show() {
            ctx.fillRect("this.x,this.y,this.width,this.height");
        }

            }
        update() {
            this.x = snake[this.number-1].x;
            this.y = snake[this.number-1].y;
        }



    class Head(Snake) {
        constructor(direction) {
            this.x = x;
            this.y = y;
            this.ySpeed = 0;
            this.width=40;
            this.height=40;



             }
        update() {
            this.y -= this.speed;
            this.x-=this.speed;
        }



        function start() {
            score=0

{% endblock %}
