{% extends "gameplayer.html" %}

{% block game %}

<script>
var canvas = document.getElementById("gameCanvas");
var ctx = canvas.getContext("2d");

    class Snake {
        constructor(x, y, number) {
            this.x = x;
            this.y = y;
            this.number = number;
            this.Speed = 20;
            this.width=2;
            this.height=2;

          }
        show() {
            ctx.fillRect("this.x,this.y,this.width,this.height");
        }

            }
        update() {
            this.x = snake[this.number-1].x;
            this.y = snake[this.number-1].y;
        }



    class Head(Snake) {
        constructor(direction) {
            this.x = x;
            this.y = y;
            this.ySpeed = 0;
            this.width=40;
            this.height=40;



             }
        update() {
            this.y -= this.speed;
            this.x-=this.speed;
        }




    class Food {
        constructor(x,y,showing) {
            this.x = x;
            this.y = y;
            this.ySpeed = 0;
            this.width=40;
            this.height=40;



             }
          }
        show() {
            ctx.fillRect("this.x,this.y,this.width,this.height");
        }

       var score;
       var snakehead;
       Var Food;




        function start() {
            score=0;
            document.getElementById('scoreboard').innerHTML = score;
            spawnFood();
            updater = setInterval(update, 10);

        function gameOver(endmessage) {
            //death animation
            //clear out the last game
            p = null;
            Food = null;
            clearInterval(updater);
            //show text game over, press space to start again
            ctx.font = '50px Sans';
            ctx.fillStyle = 'red';
            ctx.fillText(endmessage, 275, 250);
            ctx.font = '25px Calibra';
            ctx.fillStyle = 'orange';
            ctx.fillText("Press spacebar to play again", 325, 300);
        };

        function spawnSnakePiece() {



        function spawnFood() {
                randrange = 50 + Math.random() * (350);
                f = new Food(randrange);
                Food.push(f);


        function update () {
            canvas.width=canvas.width;

</script>
{% endblock %}
